<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Agregar Concierto</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <div class="form-card">
            <img src="{% static 'imgs/concert1.jpg' %}" alt="Concierto Imagen">

            <div class="form-content">
                <h2>REGISTRAR CONCIERTO</h2>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        {{ form.Fecha.label_tag }}
                        {{ form.Fecha }}
                        {% if form.Fecha.errors %}
                            <div class="error-message">
                                {% for error in form.Fecha.errors %}
                                    <p style="color: #9e54bb; font-weight: bold;">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <div class="form-group">
                        {{ form.Hora.label_tag }}
                        {{ form.Hora }}
                        {% if form.Hora.errors %}
                            <div class="error-message">
                                {% for error in form.Hora.errors %}
                                    <p style="color: #9e54bb; font-weight: bold;">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                        
                    </div>
                    <div class="form-group">
                        {{ form.Lugar.label_tag }}
                        {{ form.Lugar }}
                    </div>
                    <div class="form-group">
                        {{ form.Categoria.label_tag }}
                        {{ form.Categoria }}
                    </div>
                    <div class="form-group">
                        {{ form.Capacidad.label_tag }}
                        {{ form.Capacidad }}
                        {% if form.Capacidad.errors %}
                            <div class="error-message">
                                {% for error in form.Capacidad.errors %}
                                    <p style="color: #9e54bb; font-weight: bold;">{{ error }}</p>
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
                    <button type="submit" class="btn-submit">Agregar Concierto</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
